@font-face {
    font-family: Fraunces ;
    src: url(/font/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: Manrope;
    src: url(/font/Manrope/Manrope-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    --primary: #24053E;
    --secondary:#44FFA1;
    --grey :#584D62;
    --ghost:#FCF8FF;
    --light:#FFF;
}
body{
    font-family: Manrope,sans-serif;
    font-size: 16px;
    font-weight: 400;
}